* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f4f5;
  font-family: "Noto Sans TC";
}

/*  Header  */

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/grupodepersonas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 150px;
  text-align: center;
}

h1 {
  font-size: 90px;
  font-weight: 700;
  font-family: "Cookie", cursive;
}

.h2 {
  font-weigbt: 700;
  color: #0198b9;
  font-family: "Noto Sans TC";
}

.subtitulo {
  font-size: 21px;
  font-weight: 900;
  text-shadow: 0.1em 0.1em 0.2em black !important;
}

.titulopa {
  font-family: "Cookie", cursive;
  font-size: 2.5rem;
  color: white;
  font-weight: 800;
}

/* Paleta de Colores */

.amarillo {
  color: #fbbc05;
}

.white {
  color: whitesmoke;
}

.gris {
  color: #999;
}

.black {
  color: black;
}

.red {
  color: rgb(223, 56, 89);
}

.verde {
  color: #02864d;
}

.celeste {
  color: #0198b9;
}

.stroke {
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000,
    2px -2px 1px #000;
}

.stroke:focus {
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000,
    2px -2px 1px #000;
  color: #fbbc05;
}

.button {
  background-color: #0398b9;
  color: white;
  padding: 16px 48px;
  border-radius: 7px;
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
  font-size: 20px;
  font-weight: bold;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.button:hover {
  background-color: #0186a3;
  color: white;
  text-decoration: none;
}

/*  Nav  */

nav {
  z-index: 1;
}

.navbar {
  padding-top: 0.1rem !important;
  padding-right: 1rem !important;
  padding-bottom: 0.1rem !important;
  padding-left: 1rem !important;
}

#navbarNavDropdown {
  justify-content: flex-end;
}

.navbar-brand.ml-3 {
  color: white;
  font-weight: 700;
  font-size: 30px;
  font-family: "Cookie", cursive;
}

.navbar-brand.ml-3:hover {
  color: #39b882;
}

.navbar-brand.ml-3:focus {
  color: #fbbc05;
}

.nav-link {
  color: white !important;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18.7px;
}

.bg-info {
  background: transparent !important;
  opacity: 0.98;
}

.dropdown-menu {
  background: transparent;
  border: none;
  border-radius: none;
}

.dropdown-item {
  color: white;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar-toggler {
  border-color: #00d2ff !important;
}

.navbar-brand.ml-3.stroke:focus {
  color: #ffffff;
  color: #39b882 !important;
}

.nav-link:hover {
  color: #39b882 !important;
}

.nav-link:focus {
  color: #fbbc05 !important;
}

@media (max-width: 320px) {
  .navbar-brand.ml-3 {
    font-size: 26px;
  }

  .enlace {
    font-size: 15px !important;
  }
}

/*  Textos/Párrafos  */

.about-text {
  text-align: left;
}

.about-text p b {
  color: #02864d;
  font-weight: 900;
  font-size: 18.7px;
}

.lista ul li {
  list-style-type: none;
  background-image: url(../images/check.png);
  background-position: 0 0;
  background-size: 1.6rem;
  background-repeat: no-repeat;
  padding-left: 40px;
}

.texto-div {
  max-width: 1100px;
  margin: 0 auto;
}

/*  Cards  */

.hashtags span {
  display: block;
}

.col-md-3 {
  margin-bottom: 20px;
}

.card-container {
  height: 30em;
  background: linear-gradient(to right, #c31432, #240b36);
  display: flex;
  border-radius: 12px;
}

.card {
  background-color: white;
  display: grid;
  grid-template-rows: 3em 13em 12em;
  justify-content: center;
  border-radius: 6px;
  height: 29em;
  margin: auto;
  width: 93%;
}

.card-img-top {
  width: 50%;
  display: block;
  margin: auto !important;
}

.card .card-body:last-child {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.card-body {
  padding: 7px !important;
  margin: auto;
}

.card-text {
  color: #191919;
}

.card-title {
  color: #191919;
  font-weight: 900;
  font-size: 23px;
}

/* Testimonios */

#demo {
  background: linear-gradient(112deg, #ffffff 50%, antiquewhite 50%);
  max-width: 900px;
  margin: auto;
  border: 1px solid #c31432;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.container {
  padding-bottom: 30px;
}

.carousel-caption {
  position: initial;
  z-index: 10;
  padding: 5rem 8rem;
  color: rgba(78, 77, 77, 0.856);
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
  line-height: 2rem;
}

@media (max-width: 767px) {
  .carousel-caption {
    position: initial;
    z-index: 10;
    padding: 3rem 2rem;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 0.7rem;
    font-style: italic;
    font-weight: bold;
    line-height: 1.5rem;
  }
}

.carousel-caption img {
  width: 6rem;
  border-radius: 5rem;
  margin-top: 2rem;
}

@media (max-width: 767px) {
  .carousel-caption img {
    width: 4rem;
    border-radius: 4rem;
    margin-top: 1rem;
  }
}

.image-caption {
  font-style: normal;
  font-size: 1rem;
  margin-top: 0.5rem;
}

@media (max-width: 767px) {
  #image-caption {
    font-style: normal;
    font-size: 0.6rem;
    margin-top: 0.5rem;
  }
}

.flecha {
  background-color: rgb(223, 56, 89);
  font-size: 35px;
}

.carousel-control-prev i,
.carousel-control-next i{
  padding: 10px;
  border-radius: 50%;
}

.carousel-control-prev {
  justify-content: flex-start;
  margin-left: 1rem;
}

.carousel-control-next {
  justify-content: flex-end;
  margin-right: 1rem;
}

.carousel-control-prev,
.carousel-control-next {
  transition: none;
  opacity: unset;
}

/* Iconos redes sociales compartir*/

#social-share-section {
    margin-top: 30px;
    margin-bottom: 10px;
    float: right;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-social-icon {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 34px;
    width: 34px;
    padding: 0;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-fw {
    width: 1.28571429em;
    text-align: center;
}

.fa-twitter:before {
    content: "\f099";
}

:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-twitter {
    color: #fff;
    background-color: #55acee;
    border-color: rgba(0,0,0,0.2);
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

.btn-linkedin {
    color: #fff;
    background-color: #007bb6;
    border-color: rgba(0,0,0,0.2);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}


/*  Footer  */

footer {
  color: white;
  background: rgb(22, 21, 21) !important;
  box-shadow: 0px -2px 8px 0px grey;
}

.enlace {
  list-style: none;
  font-size: 16px;
}

.negrita {
  font-weight: 800;
  color: black;
  text-transform: uppercase;
}

.icon {
  font-size: 30px;
  color: #0398b9;
  margin: 3px;
  filter: drop-shadow(2px 2px 2px rgb(22, 22, 22));
  background: #000;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  line-height: 1.3 !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.icon:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transition-duration: 400ms;
  color: #01bae4;
  opacity: 0, 9;
  background: #000;
}

.subrayado ul li {
  border-bottom: 1.5px solid #000;
  line-height: 30px;
}

.h4 {
  font-size: 1.3rem;
  color: #d8d3d3;
}

.footer-bottom-text {
  text-align: center;
  background: #000;
  line-height: 55px;
  color: #999;
  font-size: 15px;
}

a {
  color: #191919;
}

a:visited,
a:link,
a:active {
  text-decoration: none;
}

a:hover {
  color: #39b882;
}

.titulopa:hover {
  color: #fbbc05;
}

.titulopa:focus {
  color: #39b882;
}

.logo-shadow {
  filter: drop-shadow(2px 2px 2px rgba(128, 128, 128, 1));
}

/* Tags */

.tag-btn {
    margin: 5px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

#full-tags-list {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.linked-section {
    padding-top: 60px;
    margin-top: -25px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 800;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* Botón Skip */

.skip2content-link {
  color: #0070f2;
  background-color: #ffffff;
  left: -999px;
  position: absolute;
  z-index: 100;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip2content-link:focus {
  background-color: #ffffff;
  left: 35%; /*para que quede centrado, como el ancho es 30% entonces 50%-15%(mitad)*/
  top: 0%;
  width: 30%;
  height: auto;
  overflow: auto;
}

.skip2content-link:hover {
  color: #008579;
  background-color: #ffffff;
}
