{% if page.title %}

<header class="header-section">
 <div class="intro-header no-img">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
       <div class="{{ include.type }}-heading">
          <h2>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h2>
		  {% if include.type == "post" %}
		  <span class="post-meta">Posted on {{ page.date | date: "%B %-d, %Y" }}</span>
		  {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
</header>

{% else %}
<div class="intro-header"></div>
{% endif %}
