{% comment %} #INFO: reemplazar automaticamente en "html" links a la pagina en "p" {% endcomment %}
			{% assign mark = '{' | append: p.url | append: '}' %}
			{% if html contains mark %}

				{% assign val= p.url %}
				{% assign txt= p.url %}

				{% for kw in kws %}
					{% assign mark_kw= '/' | append: kw | append: '/' %}
					{% if p.url contains mark_kw %}
						{% assign txt_kw= kw | replace: '-',' ' %}
						{% assign val_kw= '<a href="/' | append: kw | append: '" class="kw kw_' | append: kw | append: '">' | append: txt_kw | append: '</a> ' %}
						{% assign val= val | replace: mark_kw, val_kw %}
						{% assign txt= txt | replace: mark_kw, '' %}
						{% assign kw= kw %}
						{% break %}
					{% endif %}
				{% endfor %}
				{% assign val_txt= txt | replace: '-',' ' %}
				{% assign val_txt= '<a href="' | append: p.url | append: '" class="dst dst_' | append: kw | append: '">' | append: val_txt | append: '</a>' %}
				{% assign val= val | replace: txt, val_txt %}
				{% assign html = html | replace: mark, val %}
			{% endif %}

