html,
body {
	height: 100%;
	background-color: #eee !important;
}

form {
	height: 90%;
  min-height: 90%;
	margin-bottom: 2em !important;
}

#textAreas {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	height: 100%;
	min-height: 100%;
}

#toLang, #fromLang {
	background: #fff;
	text-align: left;
	font-size: 20px;

	width: 45%;
	max-width: 40em;
	height: 100%;
	border-radius: 5px;
	margin: 10px 2em 0 2em;
}

#button {  
	text-align: center;
	border-radius: 15px;
	cursor: pointer;
	color: black;
	vertical-align: middle;
}

#h1{
		font-family: 'Coiny', cursive;
		color :red;
		font-size: 50px;
}
@media only screen and (max-width: 700px){
#textAreas {
 
			display: inline;
			flex-wrap: nowrap;
			flex-direction: row;
		}
	 
		#button {  
	 text-align: center;
		border-radius: 15px;
		cursor: pointer;
		color: black;
		vertical-align: middle;
		}
	 #toLang, #fromLang {
			background: #e0caca;
			width: 85%;
			height: 250px;
			font-size: 20px;
			border-radius: 30px;
			
		}
		#fromLang{
				margin: 8px 50px 10px 30px;
		}
		#toLang{
			margin: 0px 100px 100px 30px;
	}
	
	#h1{
				font-family: 'Coiny', cursive;
				color :red;
				font-size: 50px;
		}
}


