---
common-css:
  - "/css/bootstrap.min.css"
  - "/css/bootstrap-social.css"
  - "/css/main.css"
common-ext-css:
  - "//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css"
common-googlefonts:
  - "Lora:400,700,400italic,700italic"
  - "Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
common-js:
  - "/js/jquery-1.11.2.min.js"
  - "/js/bootstrap.min.js"
  - "/js/main.js"
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podemos Aprender</title>

    <!-- PLANTILLA:Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap" rel="stylesheet">

    <!-- PLANTILLA:Favicon -->
    <link rel="icon" type="image/png" href="{{ site.url }}/images/logopodemosaprender.png" />

    <!-- PLANTILLA:Bootstrap -->
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
  />

  <!-- PLANTILLA:Icons redes sociales -->
  <script
  src="https://kit.fontawesome.com/c9259f0d4f.js"
  crossorigin="anonymous">
</script>

  <!-- PLANTILLA:CSS -->
  <link rel="stylesheet" href="{{ site.url }}/css/styles.css">

</head>
<body>


  <!-- PLANTILLA:Header -->

   <header class="header" id="header">
    <a class="skip2content-link" href="#contenido">Saltar al contenido</a>

  <!-- PLANTILLA:Nav -->

  <nav class="navbar navbar-expand-lg navbar-light bg-info mb-5">
  <img src="{{ site.url }}/images/logopodemosaprender.png"  alt="logopodemosaprender" width="50px" height="63px">
    <a class="navbar-brand ml-3" href="{{ site.url }}" aria-label="Hacé un click para ir a Inicio" tabindex="0">Podemos Aprender</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{ site.url }}" tabindex="0">Inicio<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}/quienes-somos" tabindex="0">¿Quiénes somos?</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0">
            Aprendemos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ site.url }}/a" tabindex="0">A</a>
            <a class="dropdown-item" href="{{ site.url }}/con" tabindex="0">Con</a>
            <a class="dropdown-item" href="{{ site.url }}/para" tabindex="0">Para</a>
            <a class="dropdown-item" href="{{ site.url }}/usando" tabindex="0">Usando</a>
            <a class="dropdown-item" href="{{ site.url }}/si-cada-dia" tabindex="0">Si cada día</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}/tags" tabindex="0">Temas</a>
        </li>
      </ul>
    </div>
  </nav>
     
      <!-- PLANTILLA:Nav:FIN -->

  {% if page.url == "/" %}
	<div>
          <h1 class="amarillo stroke">Podemos Aprender</h1>
          <div class="subtitulo">
            <p class="white">TE GUSTARÍA:</p> 
            <p class="white">Mejores trabajos, más clientes, nuevos negocios, crecimiento personal </p> 
            <p class="white">¿Y otras áreas más? </p>
          </div>
            <a class="button m-3" href="https://www.facebook.com/groups/PodemosAprender/" target="_blank" aria-label="Visitar Podemos Aprender en Facebook" tabindex="0">Comienza ahora</a> 
        </div>
  {% endif %}

  </header>
  
  <!-- PLANTILLA:Header:FIN -->

  <a name="contenido"/>
  {{ content }}
  
  <!-- PLANTILLA:Footer -->

      <footer class="container-fluid">
        <div class="row justify-content-center align-items-center">
         <div class="col-lg-4 col-md-4 col-12 text-center">
           <a href="https://www.podemosaprender.org/" target="_blank"><img src="{{ site.url }}/images/logopodemosaprender.png" alt="Logo Podemos Aprender. Hacé un click para ir a Inicio" width="100px" height="120px" ></a>
           <ul class="enlace negrita">
            <li><a class="gris" href="{{ site.url }}" tabindex="0">Inicio</a></li>
            <li><a class="gris" href="{{ site.url }}/quienes-somos" tabindex="0">¿Quiénes Somos?</a></li>
            <li><a class="gris" href="{{ site.url }}/tags" tabindex="0">Temas</a></li>
          </ul>
          </div>
          <div class="col-lg-4 col-md-4 col-12 subrayado">
            <h3 class="text-center"><a class="titulopa" href="#header" aria-label="Hacé un click para ir al encabezado" tabindex="0">Podemos Aprender</a></h3>
            <ul class="enlace">
              <li><a class="gris" href="{{ site.url }}/a" aria-label="Hacé un click para ir a Podemos Aprender a" tabindex="0">A programar, organizar, hacer negocios. </a></li>
              <li><a class="gris" href="{{ site.url }}/con" aria-label="Hacé un click para ir a Podemos Aprender con" tabindex="0">Con un equipo o con la persona justa.</a></li>
              <li><a class="gris" href="{{ site.url }}/para" aria-label="Hacé un click para ir a Podemos Aprender para" tabindex="0">Para beneficiarnos y beneficiar a otros.</a></li>
              <li><a class="gris" href="{{ site.url }}/usando" aria-label="Hacé un click para ir a Podemos Aprender usando" tabindex="0">Usando herramientas, métodos, etc.</a></li>
              <li><a class="gris" href="{{ site.url }}/si-cada-dia" aria-label="Hacé un click para ir a Podemos Aprender si cada día" tabindex="0">Si cada día avanzamos, sin retroceder.</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-4 col-12 text-center">
            <h4 class="h4"><b>La experiencia de aprender está a un click:</b></h4>
            <a href="https://www.facebook.com/groups/PodemosAprender/" target="_blank"
                aria-label="Visitar Podemos Aprender en Facebook" tabindex="0"><i class="fab fa-facebook icon"></i>
              </a>
              <a href="https://www.youtube.com/channel/UCQ_UmuIV8HeWlcdBQW__wDw" target="_blank"
                aria-label="Visitar Podemos Aprender en YouTube" tabindex="0"><i class="fab fa-youtube icon"></i>
              </a>
              <a href="https://twitter.com/BandaPAprender" target="_blank"
                aria-label="Visitar Podemos Aprender en Twitter" tabindex="0"><i class="fab fa-twitter icon"></i>
              </a>
              <a href="mailto:info@podemosaprender.org" target="_blank"
                aria-label="Mandar un email a info@podemosaprender.org" tabindex="0"><i class="far fa-envelope icon"></i>
              </a>
              <a href="https://github.com/podemosaprender" target="_blank"
                aria-label="Participar en github de Podemos Aprender" tabindex="0"><i class="fab fa-github icon"></i>
              </a>
              
              <p class="gris">Forma parte de la comunidad PA, súmate a nuestras redes sociales, participa en github o envíanos un email.</p>
              
        </div>
 
      </div>
     
    </footer>

    <p class="footer-bottom-text m-0">PodemosAprender.org  •  2021  • by Jekyll</p>
  
  <!-- PLANTILLA:Footer:FIN -->


       <!-- PLANTILLA:JS, Popper.js, and jQuery -->
    <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous">
  </script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous">
  </script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous">
  </script>

</body>
</html>

<!-- PLANTILLA:NUEVA:FIN -->
