---
common-css:
  - "/css/bootstrap.min.css"
  - "/css/bootstrap-social.css"
  - "/css/main.css"
common-ext-css:
  - "//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css"
common-googlefonts:
  - "Lora:400,700,400italic,700italic"
  - "Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
common-js:
  - "/js/jquery-1.11.2.min.js"
  - "/js/bootstrap.min.js"
  - "/js/main.js"
---


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podemos Aprender</title>

    <!-- Icon -->
    <link rel="icon" type="image/png" href="./images/logopodemosaprender.png" />

    <!-- Bootstrap -->
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
  />
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>

    <!-- Header -->
    <header class="header">
        <h1 class="amarillo stroke">Podemos Aprender</h1>
            <p class="subtitulo white stroke">Comunidad donde nos reunimos para conseguir un trabajo mejor, para conseguir clientes y para crecer como personas</p>   
            <p class="subtitulo white stroke">En áreas de <span class="bginfo-oscuro">IT</span> y en otras<span class="bginfo-oscuro"> profesiones</span> u <span class="bginfo-oscuro">oficios</span></p> 
    </header>

    <!-- Nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <img src="images/logopodemosaprender.png" width="40px" height="60px">
        <a class="navbar-brand ml-3" href="#">Podemos Aprender</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Herramientas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Participantes</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Temas
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Agregar</a>
                <a class="dropdown-item" href="#">Agregar</a>
                <a class="dropdown-item" href="#">Agregar</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Inicio -->
      <div class= "row no-gutters mt-5 ml-3 mr-3">
          
          <p>PodemosAprender es una comunidad donde nos reunimos para practicar en persona o a través de internet. Aprendemos a programar, a vender, a organizar, a hacer negocios.</p>
          <p> Pero sólo podemos si cada día con nuestras acciones avanzamos y no retrocedemos. Si conectamos con un equipo o con la persona justa lograremos ejecutar proyectos y conseguir resultados.</p>
          <p>El foco está en desarrollar una red amplia de personas con intereses, formación, contactos y nivel socio-económico diversos pero que practica una forma de trabajar en conjunto y se ayudan porque solamente ganan personas distintas que pueden trabajar de manera interdisciplinaria.</p>
       
        {{ content }}
        
      </div>

       <!-- JS, Popper.js, and jQuery -->
    <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous">
  </script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous">
  </script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous">
  </script>

</body>
</html>
